// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 500px;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(149, 197, 238);
  padding: 5px;
}

.btn {
  display: inline;
  border-radius: 5px;
  padding: 4px;
  box-shadow: 0 0 2px rgb(198, 227, 251);
}
